

$color1: #fef2f2;
$color2: #286f6c;
$color2_1: #174340;
$color3: #f26440;
$color3_light: rgb(249, 141, 141);
$color3_1: #ad4126;
$color4: #fff;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;


$text1:'Open Sans', sans-serif;
$text2: 'Roboto', sans-serif;